body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: rgba(156, 39, 176, 0.8);
    color: #FFFFFF;
  }
  
  tr:hover {
    background-color: rgba(156, 39, 176, 0.1);
  }
  